<!doctype html>
<html lang="{{d lang 'en'}}">
<title>{{d title "Deniz Akşimşek"}}</title>
<meta name=viewport content=width=device-width,initial-scale=1.0>

<!--+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
    Styles
    +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->

<link rel=stylesheet href=/styles/styles.css>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 

<!--+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
    Theme
    +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->

<meta name=theme-color content=#e13200>
<link rel="icon" href=/assets/me.jpeg>

<!--+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
    IndieAuth
    +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->

<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">

<!--+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
    Webmention
    +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->

<link rel="webmention" href="https://webmention.io/www.denizaksimsek.com/webmention">
<link rel="pingback" href="https://webmention.io/www.denizaksimsek.com/xmlrpc">

<!--+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
    Cards
    +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->

{{#if title}}
    <meta property=og:title content="{{title}}">
    <meta property=og:url content=https://denizaksimsek.com{{../page.url}}>
    <meta property=og:type content=article>
    {{#photo}}
    	<meta property=og:image content="{{.}}">
    {{/photo}}
    <meta name=twitter:card content="summary{{#photo}}_large_image{{/photo}}">
    <meta name=twitter:site content=@DenizAksimsek>
    <meta name=twitter:creator content=@DenizAksimsek>
{{/if}}


<!--+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->
    <body>
<!--+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->

<main>{{{content}}}</main>

<footer>&copy; {{ datefmt undefined 'yyyy' }} Deniz Akşimşek</footer>

