---
layout: page
permalink: "
	{{~#if title~}} /{{datefmt page.date 'yyyy'}}/{{page.fileSlug}}/
	{{~else~}}      /{{datefmt page.date 'yyyy'}}/{{datefmt page.date 'MMddHHmmss'}}/
	{{~/if~}}
	"
---

<article class="h-entry">
	<header class="entry-page-header">

		{{#photo}}
			<link class=u-photo href="{{photo}}">
		{{/photo}}

		{{#title}}
			<h1 class="p-name links">{{.}}</h1>
		{{/title}}

		<p>
			<a class="p-author h-card" href="/">Deniz Akşimşek</a> &mdash;
			<a href="{{page.url}}" class="entry-u-url u-url"
				><time class="dt-published" datetime="{{isodatetime page.date}}"
					>{{datefmt page.date 'yyyy-MM-dd HH:mm'}}</time></a>


		{{#[last modified]}}
			<p>Last modified
				<time class="dt-updated" datetime="{{isodatetime page.date}}"
					>{{datefmt page.date 'yyyy-MM-dd HH:mm'}}</time></p>
		{{/[last modified]}}

		{{#english}}
			<p><a rel=alternate href="{{.}}" hreflang=en>English</a>
			</p>
		{{/english}}

		{{#türkçe}}
			<p><a rel=alternate href="{{.}}" hreflang=tr>Türkçe</a></p>
		{{/türkçe}}

		{{#syndication}}
			<p class="syndication">also on
				{{#each .~}}
					{{#unless @first~}}
					{{#if @last}} and {{else}}, {{/if}}
				{{/unless}}
				<a class="u-syndication" href="{{.}}">{{@key}}</a>
			{{~/each}}</p>
		{{/syndication}}

		{{#[...]}}
			{{{.}}}
		{{/[...]}}
	</header>

	<div class="e-content">{{{content}}}</div>


	<footer class="comments">{{> webmentions}}</footer>

	<footer class="entry-page-footer">
		<section role="complementary">{{> recent-posts-nav}}</section>
	</footer>
</article>


