
{{#*inline "webmention"}}

	{{set published=(d published [wm-received])}}

	<article class="webmention h-cite" id="wm-{{./[wm-id]}}">
		{{#if (eq [wm-property] 'in-reply-to')}}<header>{{/if}}
			{{#if (eq [wm-property] 'like-of')}}💟
			{{else if (eq [wm-property] 'repost-of')}}🔁
			{{else if (eq [wm-property] 'mention-of')}}💬
			{{else if (eq [wm-property] 'bookmark-of')}}🔖
			{{/if}}

			<span class="p-author h-card"><a class=u-url
				href="{{author.url}}" rel='noopener noreferrer'
				target='_blank'>{{author.name}}</a></span>

			{{#if (eq [wm-property] 'like-of')}} liked this
			{{else if (eq [wm-property] 'repost-of')}} reposted this
			{{else if (eq [wm-property] 'mention-of')}} mentioned this
			{{else if (eq [wm-property] 'bookmark-of')}} bookmarked this
			{{/if}}

			<a class="u-url" href="{{./url}}" rel='noopener noreferrer'
				target='_blank'>
				{{#with (d published [wm-received])}}
				on <time class="dt-published" datetime="{{isodatetime .}}"
					>{{datefmt . 'yyyy-MM-dd HH:mm'}}</time>
				{{/with}}
				(link)</a>
		{{#if (eq [wm-property] 'in-reply-to')}}</header>{{/if}}
		{{#if (or (eq [wm-property] 'in-reply-to') (eq [wm-property] 'mention-of'))}}
			<blockquote class=p-content>{{content.text}}</blockquote>
		{{/if}}
	</article>

{{/inline}}

{{set wms=(groupby 'wm-property' (lookup webmentions this.page.url))}}

<section class="webmentions" id="webmentions">
	{{#if (gt wms.length 0)}}<h2>Webmentions</h2>{{/if}}

	{{#each wms}}
		{{#if (eq key 'like-of')}}
			<p class="-wide-para"><strong>Liked by:</strong>
				{{#each values}}
					<a href="{{./url}}">{{author.name}}</a>
					{{#unless @last}} &middot; {{/unless}}
				{{/each}}</p>
		{{/if}}

		{{#if (eq key 'repost-of')}}
			<p class="-wide-para"><strong>Reposted by:</strong>
				{{#each values}}
					<a href="{{./url}}">{{author.name}}</a>
					{{#unless @last}} &middot; {{/unless}}
				{{/each}}</p>
		{{/if}}

		{{#if (eq key 'mention-of')}}
			<p class="-wide-para"><strong>Mentioned by:</strong>
				{{#each values}}
					<a href="{{./url}}">{{author.name}}</a>
					{{#unless @last}} &middot; {{/unless}}
				{{/each}}</p>
		{{/if}}

		{{#if (eq key 'in-reply-to')}}
			<ul class="webmention-list">
				{{#each wms.[in-reply-to]}}
					<li>{{> webmention}}
				{{/each}}
			</ul>
		{{/if}}
	{{else}}
		<p>This page accepts Webmentions.</p>
	{{/each}}
</section>

